body {
  overflow: hidden;
  color: #050505;
}
a {
  width: 10px;
  border: 1px solid #ff0000;
}
.main {
  color: red;
}
.main .input {
  background: red ;
  border: 1px dashed #008000;
}
.main div.a {
  font-size: 12px;
}
